{%load static %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Welcome to SkillForge, where learning meets innovation and skill development knows no bounds.</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <h3>What is SkillForge ?</h3>
          <img src="{%static 'assets/img/about.jpg'%}" class="img-fluid rounded-4 mb-4" alt="" height="500" width="800">
          <p>At SkillForge, we believe that education is the key to unlocking individual potential and driving societal progress. With the rapid evolution of technology and the changing landscape of industries, the demand for continuous learning and skill enhancement has never been greater. That's why we've created a dynamic online platform dedicated to empowering learners of all backgrounds to acquire new skills, expand their knowledge, and achieve their personal and professional goals.</p>
          <p class="fst-italic">Our mission is simple: to democratize education and make learning accessible to everyone, regardless of geographical location, socioeconomic status, or prior educational background. Through our user-friendly interface and diverse range of courses, we strive to break down barriers to learning and provide individuals with the tools they need to thrive in today's fast-paced world.</p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              What sets us apart is our commitment to quality, innovation, and student success. Our team of experienced educators, industry professionals, and technical experts work tirelessly to curate high-quality content, develop interactive learning experiences, and provide personalized support to our learners every step of the way. we understand the value of recognition. That's why we provide certificates upon course completion, validating your newfound expertise and bolstering your credentials in the competitive job market.Whether you're a novice looking to explore a new field or a seasoned professional seeking to advance your career, we have something for you..
            </p>
            <!-- <ul>
              <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul> -->
            <p>
              Join us on this exciting journey of discovery, growth, and transformation. Together, let's unlock your potential and chart a course towards a brighter future.<br><br>Welcome to SkillForge. Your journey starts here.
            </p>

            <div class="position-relative mt-4"><br>
              <img src="{%static 'assets/img/about_certificate.jpg'%}" class="img-fluid rounded-4" alt=""height="500" width="500">
              <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->