{%load static %}
<!-- ======= Recent Blog Posts Section ======= -->
<section id="recent-posts" class="recent-posts sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Courses</h2>
        <p>"Endless hours of work fuel the flame of learning; the more you invest in both, the greater your harvest of skill and success."</p>
      </div>
     

      <div class="row gy-4">
        <p class="post-category"><h4>Coding And Developing</h4></p>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{%static 'assets/img/blog/pythonprogramming.jpg'%}" alt="" class="img-fluid">
            </div>

            <h2 class="title">
              <a href="#recent-posts">SkillForge-Python Developing Program</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By MARIYA</p>
                <!-- <p class="post-date"> -->
                  <!-- <time datetime="2022-01-01">Jan 1, 2022</time> -->
                <!-- </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{%static 'assets/img/blog/full-stack-web-development.jpg'%}" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Sports</p> -->

            <h2 class="title">
              <a href="#recent-posts">SkillForge-Full Stack Web Development</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-2.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By ALLENSIYA</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 5, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{%static 'assets/img/blog/data-science.png'%}" alt="" class="img-fluid">
            </div>
<!-- 
            <p class="post-category">Entertainment</p> -->

            <h2 class="title">
              <a href="#recent-posts">SkillForge-DataScience and Machine Learning</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By MARK DOWER</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

        <p class="post-category"><h4>Learn Languages</h4></p>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{%static 'assets/img/blog/spoken-english-course.png'%}" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h2 class="title">
              <a href="#recent-posts">SkillForge-Speak English</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By MIKE EVANS</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{%static 'assets/img/blog/french.webp'%}" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h2 class="title">
              <a href="#recent-posts">SkillForge-Speak French</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By ANDRIA DAVID</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>blog/

            <div class="post-img">
              <img src="{%static 'assets/img/blog/Learning-German.webp'%}" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h2 class="title">
              <a href="b#recent-post">SkillForge-Speak German</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By RADHIKAr</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

        
        <p class="post-category"><h4>Commerce and Accounting</h4></p>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{%static 'assets/img/blog/Excel.png'%}" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h2 class="title">
              <a href="#recent-posts">SkillForge-Advanced M S Excel</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By RAJ</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{%static 'assets/img/blog/tally.jpeg'%}" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h2 class="title">
              <a href="#recent-posts">SkillForge-Tally Essentials</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By SREERAM</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->
        

        <p class="post-category"><h4>Design</h4></p>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="{%static 'assets/img/blog/graphic.jpg'%}" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h2 class="title">
              <a href="#recent-posts">SkillForge-Graphic Design</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By CHRIS</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

      </div><!-- End recent posts list -->

    </div>
  </section><!-- End Recent Blog Posts Section -->
  