{%extends 'adminapp/base.html'%}
{%load static %}
{%block content%}

<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <h1>SkillForge<span>.</span></h1>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'aboutus' %}">About</a></li>
        <li><a href="{% url 'courses_icon' %}">courses</a></li>
        <li><a href="{% url 'student_register' %}">Student Register</a></li>
        <li><a href="{% url 'tutor_register' %}">Tutor Register</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        
      </ul>
    </nav>
    <!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->
<!-- End Header -->
<!-- ======= Recent Blog Posts Section ======= -->
<section id="recent-posts" class="recent-posts sections-bg">
    <div class="container" data-aos="fade-up">
  
      <div class="section-header">
        <h2>Our Courses</h2>
        <p>"Endless hours of work fuel the flame of learning; the more you invest in both, the greater your harvest of skill and success."</p>
      </div>
     
  
      <div class="row gy-4">
        <p class="post-category"><h4>Coding And Developing</h4></p>
  
        <div class="col-xl-4 col-md-6">
          <article>
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/pythonprogramming.jpg'%}" alt="" class="img-fluid">
            </div>
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-Python Developing Program</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By MARIYA</p>
                <!-- <p class="post-date"> -->
                  <!-- <time datetime="2022-01-01">Jan 1, 2022</time> -->
                <!-- </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
  
        <div class="col-xl-4 col-md-6">
          <article>
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/full-stack-web-development.jpg'%}" alt="" class="img-fluid">
            </div>
  
            <!-- <p class="post-category">Sports</p> -->
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-Full Stack Web Development</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-2.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By ALLENSIYA</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 5, 2022</time>
                </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
  
        <div class="col-xl-4 col-md-6">
          <article>
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/data-science.png'%}" alt="" class="img-fluid">
            </div>
  <!-- 
            <p class="post-category">Entertainment</p> -->
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-DataScience and Machine Learning</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By MARK DOWER</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
  
        <p class="post-category"><h4>Learn Languages</h4></p>
  
        <div class="col-xl-4 col-md-6">
          <article>
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/spoken-english-course.png'%}" alt="" class="img-fluid">
            </div>
  
            <!-- <p class="post-category">Entertainment</p> -->
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-Speak English</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By MIKE EVANS</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/french.webp'%}" alt="" class="img-fluid">
            </div>
  
            <!-- <p class="post-category">Entertainment</p> -->
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-Speak French</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By ANDRIA DAVID</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>blog/
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/Learning-German.webp'%}" alt="" class="img-fluid">
            </div>
  
            <!-- <p class="post-category">Entertainment</p> -->
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-Speak German</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By RADHIKAr</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
  
        
        <p class="post-category"><h4>Commerce and Accounting</h4></p>
  
        <div class="col-xl-4 col-md-6">
          <article>
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/Excel.png'%}" alt="" class="img-fluid">
            </div>
  
            <!-- <p class="post-category">Entertainment</p> -->
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-Advanced M S Excel</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By RAJ</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
        <div class="col-xl-4 col-md-6">
          <article>
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/tally.jpeg'%}" alt="" class="img-fluid">
            </div>
  
            <!-- <p class="post-category">Entertainment</p> -->
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-Tally Essentials</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By SREERAM</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
        
  
        <p class="post-category"><h4>Design</h4></p>
  
        <div class="col-xl-4 col-md-6">
          <article>
  
            <div class="post-img">
              <img src="{%static 'assets/img/blog/graphic.jpg'%}" alt="" class="img-fluid">
            </div>
  
            <!-- <p class="post-category">Entertainment</p> -->
  
            <h2 class="title">
              <a href="{% url 'student_register'%}">SkillForge-Graphic Design</a>
            </h2>
  
            <div class="d-flex align-items-center">
              <img src="{%static 'assets/img/blog/blog-author-3.jpg'%}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">By CHRIS</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p> -->
              </div>
            </div>
  
          </article>
        </div><!-- End post list item -->
  
      </div><!-- End recent posts list -->
  
    </div>
  </section><!-- End Recent Blog Posts Section -->
  {% include 'adminapp/normalfooter.html'%}
  {%endblock%}