{%load static %}
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>SkillForge</span>
          </a>
          <p>"Enter the gateway to infinite possibilities, where learning transcends boundaries and empowers dreams. Let's embark together on a voyage of discovery, fueled by knowledge and driven by ambition."</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <!-- <li><a href="#">Services</a></li> -->
            <li><a href="#">courses</a></li>
            <li><a href="#">student login</a></li>
            <li><a href="#">Tutor Login</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Courses</h4>
          <ul>
            <li><a href="#recent-posts">python programming</a></li>
            <li><a href="#recent-posts">Full Stack Web Development</a></li>
            <li><a href="#recent-posts">Data Science and Machine Learning</a></li>
            <li><a href="#recent-posts">speak English</a></li>
            <li><a href="#recent-posts">speak French</a></li>
            <li><a href="#recent-posts">speak German</a></li>
            <li><a href="#recent-posts">M S Excel</a></li>
            <li><a href="#recent-posts">Tally Essentials</a></li>
            <li><a href="#recent-posts">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            xyz Street <br>
            kochi,535022<br>
            kerala <br><br>
            <strong>Phone:</strong> +91 9087654321<br>
            <strong>Email:</strong> skillforge@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>SkillForge</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js'%}"></script>