{%extends 'adminapp/base.html'%}
{%load static %}
{%block content%}
    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <h1>SkillForge<span>.</span></h1>
          </a>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'aboutus' %}">About</a></li>
              <li><a href="{% url 'contact'%}">Contact</a></li>
              <li><a href="{% url 'tutor_login'%}">logout</a></li>
              
            </ul>
          </nav>
          <!-- .navbar -->
    
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
        </div>
      </header><!-- End Header -->
      <!-- End Header --><center>
    <h1>Welcome to Full Stack Web Development Dashboard !</h1>
  </center>
  <br>
  <h3>Upload Python Programming Study Materials!</h3>
      <ul>
        <li><b><a href="{% url 'full_upload_video' %}">Upload Videos</a></b></li>
        <li><b><a href="{% url 'full_upload_note' %}">Upload Notes</a></b></li>
        <li><b><a href="{% url 'full_create_assignment' %}">Upload Assignments</a></b></li>
        <li><b><a href="{% url 'full_upload_quiz' %}">Upload Quizzes</a></b></li>
        </ul>
        <br>
        <h3>Check who have uploaded the Assignments Submitted !</h3>
        <li><b><a href="{% url 'full_student_assignments'%}">Assignments Submitted</a></b></li>
        <br>
        <h3>Student Progress</h3>
        <li><b><a href="{% url 'full_student_progress'%}">student progress</a></b></li>
        
        
    
{%endblock%}
