{%extends 'adminapp/base.html'%}
{%load static %}
{%block content%}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <h1>SkillForge<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'aboutus' %}">About</a></li>
        <li class="dropdown"><a href="#"><span>Actions</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>
          <li><a href="{% url 'upload_video' %}">Upload Videos</a></li>
          <li><a href="{% url 'upload_note' %}">Upload Notes</a></li>
          <li><a href="{% url 'create_assignment' %}">Upload Assignments</a></li>
          <li><a href="{% url 'upload_quiz' %}">Upload Quizzes</a></li>
          </ul>
          <li><a href="{% url 'contact'%}">Contact</a></li>
          <li><a href="{% url 'tutor_logout'%}">logout</a></li>
          
        </ul>
      </nav>
      <!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header --><br><center>
  <h2>Upload Videos for Python Programming !</h2>
  <br>
  <br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload Video</button>
</form>
<a href="{% url 'video_list' %}">Back to Video List</a>
</center>
{%endblock%}
