{%extends 'adminapp/base.html'%}
{%load static %}
{%block content%}
<!-- templates/certificate_upload.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Certificate</title>
</head>
<body>
    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <h1>SkillForge<span>.</span></h1>
          </a>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'aboutus' %}">About</a></li>
              <li class="dropdown"><a href="#"><span>Actions</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="{% url 'upload_video' %}">Upload Videos</a></li>
                  <li><a href="{% url 'upload_note' %}">Upload Notes</a></li>
                  <li><a href="{% url 'create_assignment' %}">Upload Assignments</a></li>
                  <li><a href="{% url 'upload_quiz' %}">Upload Quizzes</a></li>
                  </ul>
              <li><a href="{% url 'contact'%}">Contact</a></li>
              <li><a href="{% url 'student_login'%}">logout</a></li>
              
            </ul>
          </nav>
          <!-- .navbar -->
    
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
        </div>
      </header><!-- End Header -->
      <!-- End Header -->
      <br>
      <center>
    <h1>Video List of Python Programming</h1>
  </center>
    {% for video in videos %}
        <div>
            <h3>{{ video.title }}</h3>
            <video width="320" height="240" controls>
                <source src="{{ video.file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p><a href="{% url 'delete_video' video.id %}">Delete</a></p>
        </div>
    {% endfor %}
    <a href="{% url 'upload_video' %}">Upload New Video</a>


{%endblock%}

